
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-up-circle:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-brush:before { content: '\e803'; } /* '' */
.icon-down-circle:before { content: '\e804'; } /* '' */
.icon-left-circle:before { content: '\e805'; } /* '' */
.icon-right-circle:before { content: '\e806'; } /* '' */
.icon-mobile:before { content: '\e809'; } /* '' */